In [1]:
import numpy as np

In [2]:
import pandas as pd

In [14]:
df =  pd.read_excel("D:/wfms_support/DCO_mapping.xlsx")

In [15]:
df.columns

Index(['SN#', 'Code ID#', 'Department', 'Section', 'Field Name (Arabic)',
       'Support Status', 'Field Name (English)', 'Field Mobile # whatsapp',
       'User ID', 'Password', 'Field Mobile # voice', 'Phone# Operator',
       'Region', 'ZONE', 'MC', 'Email', 'Field Nationality', 'Company',
       'Identity#', 'ACES ID', 'Joining Date', 'Job Title',
       'Profession as per iqama', 'Field Image Url', '1st line manger',
       '2nd line manger', '3rd line manger', '4th line manger',
       '5th line manger', 'Check in', 'Check Out',
       'Site Location (Coordinate)', '15-Apr', '16-Apr', '17-Apr', '18-Apr',
       '19-Apr', '20-Apr', '21-Apr', '22-Apr', '23-Apr', '24-Apr', '25-Apr',
       '26-Apr', '27-Apr'],
      dtype='object')

In [77]:
df.shape[0]+1

    # print(i)

130

In [90]:
for row in range(0, df.shape[0]):
    count_p = 0
    count_Ab = 0
    for col in range(28, 11):
        if df[f'{col}-Apr'].loc[row] == 'Ab':
            count_Ab+=1
        else:
            count_p +=1
    df['Total_present'].loc[row] = count_p 
    df['Total_absent'].loc[row] = count_Ab

In [56]:
df['Total_present'].loc[1] = count_p + 5
df['Total_Absent'].loc[1] = count_Ab +5

C:\Users\Mazhar\AppData\Local\Temp\ipykernel_2200\2499900353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_present'].loc[1] = count_p + 5
C:\Users\Mazhar\AppData\Local\Temp\ipykernel_2200\2499900353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Absent'].loc[1] = count_Ab +5

In [89]:
df[['Total_present','Total_absent']].head(20)

   Total_present Total_absent
0              0           13
1              0           13
2              0           13
3              0           13
4              0           13
5              0           13
6              0           13
7             12            1
8             12            1
9             12            1
10            13            0
11             0           13
12             0           13
13             0           13
14             9            4
15             0           13
16             0           13
17             4            9
18             0           13
19             0           13

In [82]:
df['Total_present'] = 'Nan'
df['Total_absent'] = 'Nan'

In [81]:
df.columns

Index(['SN#', 'Code ID#', 'Department', 'Section', 'Field Name (Arabic)',
       'Support Status', 'Field Name (English)', 'Field Mobile # whatsapp',
       'User ID', 'Password', 'Field Mobile # voice', 'Phone# Operator',
       'Region', 'ZONE', 'MC', 'Email', 'Field Nationality', 'Company',
       'Identity#', 'ACES ID', 'Joining Date', 'Job Title',
       'Profession as per iqama', 'Field Image Url', '1st line manger',
       '2nd line manger', '3rd line manger', '4th line manger',
       '5th line manger', 'Check in', 'Check Out',
       'Site Location (Coordinate)', '15-Apr', '16-Apr', '17-Apr', '18-Apr',
       '19-Apr', '20-Apr', '21-Apr', '22-Apr', '23-Apr', '24-Apr', '25-Apr',
       '26-Apr', '27-Apr'],
      dtype='object')

In [80]:
del(df['Total_Absent'],df['Total_present'])

In [32]:
df['15-Apr'].value_counts()

p    16
Name: 15-Apr, dtype: int64

In [215]:
att_df =  pd.read_excel("D:/wfms_support/27-4AttendanceReport (1).xlsx",sheet_name='NR')

In [216]:
att_df.columns

Index(['Unnamed: 0', 'Name :', 'Unnamed: 2', 'Mohammad Arif Abdulraqeeb',
       'Unnamed: 4', 'Ahmed Rageb', 'Unnamed: 6', 'Safi Ur Rahman',
       'Unnamed: 8', 'Majed Abdulraqeeb Abdelhafiz ', 'Unnamed: 10',
       'Mohamed Ahmed Ishaq Aafyah', 'Unnamed: 12',
       'Hisham Abdeen Elsayed Abo zied', 'Unnamed: 14', 'Mazhar Uddin',
       'Unnamed: 16', 'Farid Mohammed Shoula'],
      dtype='object')

In [217]:
for i in att_df.columns:
    print(i)
    # df["15-Apr__"]= np.where(df["Field Name (English)"]==i,"P","Ab")
    df.loc[df['Field Name (English)'] == i, '27-Apr'] = 'P'

Unnamed: 0
Name :
Unnamed: 2
Mohammad Arif Abdulraqeeb
Unnamed: 4
Ahmed Rageb
Unnamed: 6
Safi Ur Rahman
Unnamed: 8
Majed Abdulraqeeb Abdelhafiz
Unnamed: 10
Mohamed Ahmed Ishaq Aafyah
Unnamed: 12
Hisham Abdeen Elsayed Abo zied
Unnamed: 14
Mazhar Uddin
Unnamed: 16
Farid Mohammed Shoula

In [218]:
df['27-Apr'].value_counts()

Ab    85
P     44
Name: 27-Apr, dtype: int64

In [200]:
df['27-Apr'].head(20)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7       P
8       P
9       P
10      P
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: 27-Apr, dtype: object

In [201]:
df['27-Apr'] = df['27-Apr'].fillna('Ab')

In [202]:
df['27-Apr'].value_counts()

Ab    117
P      12
Name: 27-Apr, dtype: int64

In [221]:
df.head()

,SN#,Code ID#,Department,Section,Field Name (Arabic),Support Status,Field Name (English),Field Mobile # whatsapp,User ID,Password,...,Decision-making,Initiative and innovation,20-Apr,21-Apr,22-Apr,23-Apr,24-Apr,25-Apr,26-Apr,27-Apr
0,1,DIRECTOR_001,Mobily MNS,DCO,حسام الدين الزعاتره,No response to watsapp,Hussam Al Zaaterah,504743725,hussam,hussam#725,...,NaN,NaN,Ab,Ab,Ab,Ab,Ab,Ab,Ab,Ab
1,2,DCO_PM_002,Mobily MNS,DCO,سعد حسين ناصر الدلقموني,No response to watsapp,Saad Dalgamoni,547797789,sdalgamoni,sdalgamoni#789,...,NaN,NaN,Ab,Ab,Ab,Ab,Ab,Ab,Ab,Ab
2,3,DCO_RM_003,Mobily MNS,DCO,محمد حسن خاطر,On vacation,Mohammed Khatir,542988095,m.khatir,mkhatir#095,...,NaN,NaN,Ab,Ab,Ab,Ab,Ab,Ab,Ab,Ab
3,4,DCO_SOM_004,Mobily MNS,DCO,محمد عاطف رحيم عبدالرحيم كاشف,No response to watsapp,MUHAMMAD ATIF RAHEEM ABUL RAHIM HASHIF,533131897,mmraheem,mmraheem#911,...,NaN,NaN,Ab,Ab,Ab,Ab,Ab,Ab,Ab,Ab
4,5,DCO_SE_005,Mobily MNS,DCO,جلال محمد نور يوسف بدر,Login Successful and Punch In pending,Galal mohammednour,594960605,jalal.badr,jalal#badr605,...,NaN,NaN,Ab,Ab,Ab,Ab,Ab,Ab,Ab,Ab

In [220]:
del(df['Fee'])

In [224]:
df.to_excel( "output.xlsx",sheet_name='Sheet1')